
.carrito-comprado {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: rgb(115, 230, 0);
}
.carrito-comprado {
    border: 0;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: rgb(115, 230, 0);
}