.carrito-compradocss {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: white;
    border: 0;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: center;

}

.texcomprado {
    text-align: center;
    margin-bottom: 50px;
}

.flex-row {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: rgb(18, 22, 14);
}

.boton-enviar {
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 1rem;

}

.datos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: end;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: rgb(18, 22, 14);
}

.pedido {
    display: flex;
    flex-direction: column;
       margin-top: 50px;
       color: white;
}
.exito{
    font-size: 1.2rem;
 text-align: justify;
border: solid plum;
border-radius: 10px;
padding: 10px;
   
}
h4{
    color: green;
}
