@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans&family=Rubik+80s+Fade&family=Rubik+Vinyl&display=swap');
.categoria-style {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(61, 24, 66);
  

}

.categoria-1 {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 2rem;
    padding-right: 0;
    position: sticky;
    top: 0;
    height: 50vh;
}

button {
    font-family: 'Nunito Sans', sans-serif;
    font-size: .8rem;
    background-color: rgb(13, 9, 14);
    margin-top: 10px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}