@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito+Sans&family=Rubik+80s+Fade&family=Rubik+Vinyl&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ItemListcontainercss{
    display: grid;
    grid-template-columns: repeat(4, .9fr);
    margin-top: 10px;
    gap: 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: black;
    text-align: center;
   }
   
.categoria-style {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(135, 111, 184);
  }

.categoria-1 {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding: 2rem;
    padding-right: 0;
    position: sticky;
    top: 0;
    height: 50vh;
}

.botonC{
   height: 45px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: .8rem;
    background-color: rgb(13, 9, 14);
    margin-top: 10px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}