
.tPrincipal {
    color: rgb(135, 111, 184);
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;

}

.contenedor-carrito2>div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: 'Nunito Sans', sans-serif;
    font-size: .7rem;

}

.carrito-productos {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-right: 1rem;
    padding: .5rem;
    border-radius: 10px;
}

.carrito-eliminar {
    color: red;
    height: 3.5rem;
}

.carrito-accion-vaciar {
    border: 0;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.carrito-vacio {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: red;
}

.carrito-productos img {
    width: 6rem;
    border-radius: 1rem;
}

.carrito-accion {
    display: flex;
    justify-content: space-between;
}

.carrito-accion-der {
    display: flex;
}

.carrito-accion-total {
    display: flex;
    padding: 1rem;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-accion-comprar {
    border: 0;
    padding: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
