.tPrincipal {
    position: relative;
    left: 45%;
    color: rgb(197, 206, 200);
    font-family: 'Lobster', cursive;
    font-size: 40px;
}

.boton-vaciar {
    display: flex;
    justify-content: flex-end;
}

.carrito-accion-vaciar {
    text-transform: uppercase;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 1rem;
}

.contenedor-carrito {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
}

.carrito-productos {
    background-color: black;
    color: white;
    padding-right: 1rem;
    margin-top: 5px;
    padding-top: 10px;
    border-radius: 10px;
   

}

.carrito-vacio {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: red;
}

.carrito-productos img {
    width: 5rem;
    border-radius: 1rem;
}

.carrito-productos ul {
    display: flex;
    flex-direction: row;
    align-items: center;
        gap: 80px;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1rem;
    color: rgb(47, 0, 255);
    list-style: none;


}

.carrito-accion-total {
    display: flex;
    padding: 1rem;
    text-transform: uppercase;
    gap: 1rem;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.1rem;
    color: rgb(47, 0, 255);
}

.carrito-accion-comprar {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    text-transform: uppercase;
    cursor: pointer;


}

.carrito-comprar {
    text-transform: uppercase;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 1rem;
}

.seguir_comprando {
    text-decoration: none;
}