* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-text{
display: flex;
flex-direction: column;
align-items: center;
}

