* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
}